body { 
    font-family: seans-serif; 
    max-width: 500px; 
    margin: 50px auto; 
    padding: 20px; 
    line-height: 1.6;
}

.form-group { 
    margin-bottom: 15px; 
}

label {
    display: block; 
    font-weight: bold; 
}

input, select, textarea {
    width: 100%; 
    padding: 8px; 
    margin-top: 5px; 
    box-sizing: border-box 
}

button { 
    background-color: #25d366; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    cursor: pointer; 
    font-size: 16px; 
    border-radius: 5px; 
}

button:hover {
    background-color: #128c7e; 
}