<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - AjudaNoiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div style="max-width: 300px; margin: 100px auto;">
        <h2>Acesso Restrito 🔐</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p style="color: red;">{{ messages[0] }}</p>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>